body{
    background: url('../pexels-mesut-yalcin-1233429888-28897244.jpg');
    height:100vh;
    width:100vw;
    justify-content: center;
}

.tab{
    width:40%;
    height:12%;
    justify-content: center;
    font-size: 2.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: var(--bloo);
    margin-left:10px;
}

.title{

}

container{
    height:600px;
    width:450px;
}

.choices{
    height:10%;
    display: flex;
    justify-content: space-between;
}

.buttons{
    justify-content: space-between;
}

.choices div{
    width: 50px;
    height:100%;
    display: flex;
    justify-content: center;    
}

.choices button{
    height:2rem;

}

#login{
    background: var(--bloo);
    color: var(--gray);
}

#signup{
    background: var(--gold);
    color: var(--gray);
}

.inputs{
    position:relative;
    height: 60%;
    border:5px solid var(--bloo);
    border-radius: 5px;
    justify-content: space-around;
    background: linear-gradient(var(--gray),white);
}

.info{
    height: 70%;
    justify-content: space-around;
}

form{
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type="text"]{
    height:3rem;
    width: 15rem;
}

.destroy{
    display:none;
}