body{
    background: var(--gray);
    height:100vh;
    width:100vw;
    justify-content: center;
}

container{
    border:1px solid black;
    height:600px;
    width:450px;
}

.choices{
    height:10%;
    display: flex;
    justify-content: space-between;
}

.choices button{
    height: 100%;
    width:40%;
    font-size: 2.5rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
}

#login{
    background: var(--bloo);
    color: var(--gray);
}

#signup{
    background: var(--gold);
    color: var(--gray);
}

.inputs{
    position:relative;
    border:1px solid white;
    height: 60%;
}

.background-slider{
    position:absolute;
    z-index: -1;
    width: 100%;
    height:100%;
    background: var(--bloo);
    transition:width .2s;
}

.destroy{
    display:none;
}